/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: url(../CloudyPGH.jpeg) no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(240, 248, 255);
}

img{
  display: block;
  margin: 0 auto;
  height: 50vh;
  width: auto;
}

.noDisplay{
  display: none;
}
section {
  width: 100%;
}

h1, h2, button, form, iframe, p{
  margin: auto;
  text-align: center;
  /* width: 80%; */
}

section > h2 {
  padding: 2%, 5%;
}
p { 
  padding: 2% 5%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
